body{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    border: 2px solid grey;
}

.conatiner h1{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}